.output {
    display: inline;
    float: left;
    border: 1px solid black;
    width: 200px;
    margin: 5px;
    min-height: 100px;
}

.title {
    width: 100%;
    text-align: center;
}

.note {
    clear: both;
}
