body {
    padding: 20px;
    margin: 0 auto;
    width: 200px;
}

.button-container {
    width: 100px;
    margin: 0 auto;
}

.button-container button {
    width: 30px;
    height: 30px;

    margin: 2px;
}
